body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    /*background: #eeeeee;*/
    /*background-image: url("glossy.png");*/
     background-color: #cccccc;
  background-image: linear-gradient( #b19cd9, lightblue);
    height: auto;
}
h1{
    font-weight: 400;
    font-size: 2.5rem; /* 1rem = By default 16px */
    text-transform: uppercase;
    margin: 0;
}
h2{
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: capitalize;
    margin: 0;
}
img{
    display: block;
    width: 100%;
}

.honeo {
    text-align: center;
}




main{
    max-width: 900px;
    margin: auto;
    box-shadow: 20px 0px 40px rgba(0, 0,0,0.2),
    -20px 0px 40px rgba(0, 0,0,0.2); /*horizontal offset, Vertical Offset, Blur, Color */
}
#landing{
    /*background: lightgreen;*/
    background: lightgreen;
}
#landing-text{
    display: flex;
    flex: 0 1 40vw; /* flex grow, flex shrink , viewport width */
    height: 50vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0rem 1rem 0rem 1rem;
}
#landing-text h2{
    color: #888888;
}
#landing-images{
    /*background: url(https://images.unsplash.com/photo-1522922720537-c502d49af71a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b8025c95c7bbfc79f53c36b93b8f98c0&auto=format&fit=crop&w=633&q=80);*/
    /*background: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.digitaltrends.com%2Fmobile%2Foneplus-7-pro-vs-oneplus-6t-vs-oneplus-6-vs-oneplus-5t%2F&psig=AOvVaw2eLOZ7Yl1iptCDM9ebwB44&ust=1586296493477000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCNCVgIzl1OgCFQAAAAAdAAAAABAD0);*/
    background-image: url("https://icdn7.digitaltrends.com/image/oneplus-7-pro-review-1-720x720.jpg"); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    flex: 0 1 60vw; /*flex grow, shrink, width */
    margin: 0;
}

/* Button design */
.btn{
    padding: 0.5rem 2rem;
    border: 2.5px #cccccc solid;
    display: inline-block;
    margin: 2rem 0 0;
    border-radius: 50px;
    text-decoration: none;
    color: #333333;
    transition: background 500ms ease;
    font: outline;
    font-weight: bold;
}
.btn:hover{
    background: tomato;
    border: 1.5px #333333 solid;
}


.btn1{
    padding: 0.5rem 2rem;
    border: 2.5px #cccccc solid;
    display: inline-block;
    margin: 2rem 0 0;
    border-radius: 50px;
    text-decoration: none;
    color: #333333;
    transition: background 500ms ease;
    font: outline;
    font-weight: bold;
}
.btn1:hover{
    background: #ffb100;
    border: 1.5px #333333 solid;
}







#header{
    padding: 1.5rem;
    text-align: center;
    background: #333333;
    color: #ffffff;
}
#header h2{
    border-left: dotted 2px white;
    border-right: dotted 2px white;
    display: inline-block;
    padding: 0 1rem 0 1rem;
}
.caption{
    padding: 0.8rem;
    text-align: center;
}
footer{
    text-align: center;
    padding: 2rem 2rem;
    margin: auto;
    color: #333333;
}
footer h3{
    font-size: 2rem;
    margin-bottom: 0;
}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}



/* Screen sizes 500px and Up */
@media (min-width: 500px){
    #landing{
        display: flex;
        height: 100%;
    }
    #landing-text{
        height: 100vh;
    }
    
    #landing-images{
        height: 100vh;
    } 
} 

